.List {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.List > input {
   width: 100%;
   border: none;
   border-bottom: 1px solid rgb(220, 220, 220);
   padding: 15px 0px; /* 위 아래 15px 좌우 0px */
}

.List > input:focus {
    outline: none; /* 포커스시 파란색 테두리 제거 */
    border-bottom: 1px solid rgb(37, 147, 255);
}

.List .todos_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}